<p id="notice"><%= notice %></p>

<div class="container d-flex">
    <div class="col">
        <h2>Songs</h2>
        <% @songs.each do |s| %>
        <div class="d-flex">
            <div>Name : </div>
            <div class="pl-2"><a href=""><%= s.name %></a></div>
        </div>
    
        <%= link_to 'Show', s %>
        <%= link_to 'Edit', edit_song_path(s) %>
        <%= link_to 'Destroy', s, method: :delete, data: { confirm: 'Are you sure?' } %>
        <hr>             
         <% end %>
         <%= link_to 'New Songs', new_song_path %>
    </div>
</div>