<%= form_with model: @album do |form| %>
<div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.date_field :year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>